.title, .recipes, .description, .photo, div {
    text-align: center;
}
.title {
    color: rgb(74, 53, 4);
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul, .recipes {
    list-style-position: inside;
}
.recipes, .styled {
    font-size: 20px;
}
#page {
    background-color: rgb(85, 107, 47);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}
.spacious {
    margin: 30px
}
.ingredients, .instructions {
    margin-top: 50px;
}
.ingredients {
    text-align: left;
}
.filling {
    margin-top: 30px;
}
.styled {
    padding: 5px 10px;
}